datasets>=4.0.0,<5.0.0
ipykernel>=6.30.1,<7.0.0
matplotlib>=3.10.6,<4.0.0
numpy>=2.3.2,<3.0.0
pandas>=2.3.2,<3.0.0
scikit-learn>=1.7.1,<2.0.0
seaborn>=0.13.2,<1.0.0
torch==2.8.0+cu129
torchaudio==2.8.0+cu129
torchvision==0.23.0+cu129
torchinfo>=1.8.0,<2.0.0
torchmetrics>=1.8.1,<2.0.0
--extra-index-url https://download.pytorch.org/whl/cu129